[user]
  name = Tyler Boyd
  email = tylerboydblue@gmail.com

[push]
  default = simple

[core]
        editor = code --wait --new-window
[diff]
    tool = default-difftool
[difftool "default-difftool"]
    cmd = code --wait --new-window --diff $LOCAL $REMOTE
[pull]
	rebase = false
